# ----------------
# Python
# ----------------
__pycache__/
*.pyc
*.pyo
.venv/
env/

# ----------------
# VS Code
# ----------------
.vscode/
*.code-workspace
# ----------------
# Jupyter
# ----------------
.ipynb_checkpoints/

# ----------------
# GIS / data
# ----------------
data/*
!data/README.md
results/

# GIS filer
*.shp
*.dbf
*.shx
*.prj
*.gpkg
*.tif
*.tiff
*.geojson

# Logs
*.log
data/*.txt

# ----------------
# OS
# ----------------
.DS_Store
Thumbs.db
